model_repo/
model_repository/cnet/1/
model_repository/stable_diffusion_cnet_bls/1/scheduler
model_repository/stable_diffusion_cnet_bls/1/tokenizer
model_repository/text_encoder/1
model_repository/vae_decoder/1
model_repository/unet/1